.header {
  background-image: url("banner.png");
  background-color: #EA493A;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  background-position: center;
}

.logo-container {
}

.logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 300px;
}

