.header {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 129px;
  height: 110px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
}

.logo {

}

h1 {
  padding: 10px 0px 10px 40px;
}
