.header {
  background-image: url("banner.png");
  background-color: #EA493A;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  background-position: center;
}

.logo-container {
}

.logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 210px;
  width: 280px;
}

h1 {
  padding: 10px 0px 10px 40px;
}
